{% extends 'base.html' %}

{%block title%}Fortnite{%endblock title%}

{% block obsah %}

<section>
<img src="{{ url_for('static', filename='OIP.jpeg')}}" alt="">
<h1>Co je to fortnite?</h1>
<p>Fortnite Battle Royale je multiplatformní free-to-play videohra vyvíjená studiem Epic Games1. Hra je o tom, že si musíte co nejrychleji nasbírat nějaké zbraně a léčení a potom to začíná: musíte přežít 100 hráčů a zmenšuje se zóna2. Fortnite byl vytvořen firmou Epic Games a poprvé byl představen veřejnosti v roce 2011, dokončen v roce 20173. Hra trvá 18 minut kým dôjde posledná zóna4. V hře můžete tvořit, hrát a bojovat s přáteli zdarma</p>
</section>

{% endblock obsah %}