{% extends 'base.html' %}

{% block obsah %}

<h1>Vzkazy</h1>

<h2>Vložit vzkaz</h2>

<form method="post">
  <textarea name="vzkaz" rows="7" cols="80"></textarea>
  <p>
    <button type="reset">Vymazat</button>
    <button type="submit">Odeslat</button>
  </p>
</form>

<h2>Nástěnka</h2>

{% for login, body, datetime, id in response %}
  <div class="zprava">
  <p class="hlavicka"><strong>{{login}}</strong>--
      {{d.fromisoformat(datetime).strftime('%d.%_m.%Y %H:%M')}}</p>
  {%if session['user']==login%}
  
  
  <form action="">
  <input type="hidden" name="id", value="{{id}}">
  <button type="submit">Vymazat</button>
  
  </form>
  {%endif%}
  <pre class="telo">{{body | safe }}</pre>
  </div>
{% endfor %}


{% endblock obsah %}



